[client]
port            = 3306
socket          = /var/run/mysqld/mysqld.sock

[mysqld_safe]
socket          = /var/run/mysqld/mysqld.sock
nice            = 0

[mysqld]

bind_address            = {{ galera_bind_address }}
user                    = mysql
pid-file                = /var/run/mysqld/mysqld.pid
socket                  = /var/run/mysqld/mysqld.sock
port                    = 3305
basedir                 = /usr
datadir                 = {{ galera_datadir }}
tmpdir                  = /tmp

skip-name-resolve

lc-messages-dir         = /usr/share/mysql
skip-external-locking
key_buffer_size         = 16M
max_connections         = 100
max_allowed_packet      = 16M
thread_stack            = 192K
thread_cache_size       = 8

myisam-recover-options  = BACKUP
query_cache_limit       = 1M
query_cache_size        = {{ mysql_query_cache_size | default('16M') }}
join_buffer_size        = {{ mysql_join_buffer_size | default('256K') }}
table_open_cache        = {{ mysql_table_open_cache | default(600) }}

############
# Logging
############
log_error               = /var/log/mysql/error.log
slow_query_log_file     = /var/log/mysql/slow.log
slow_query_log          = 1
long_query_time         = 1
log-queries-not-using-indexes

############
# Binlog
############
{% set galera_clusterId = galera_nodes.index(inventory_hostname) + 1 %}
server-id               = {{ galera_clusterId }}
log_bin                 = {{ galera_logdir }}/mysql-{{ inventory_hostname }}-bin.log
sync_binlog             = 1
binlog_format           = ROW
expire_logs_days        = 2
max_binlog_size         = 100M
log_slave_updates

############
# WSREP
############
{# list of cluster members #}
{% set cluster_members = [] -%}

{%- for node in galera_nodes %}
  {%- if hostvars[node].ansible_default_ipv4.address !=  ansible_eth0.ipv4.address %}
    {%- set _ = cluster_members.append(hostvars[node].ansible_default_ipv4.address) -%}
  {% endif -%}
{% endfor -%}
wsrep_provider          = /usr/lib/libgalera_smm.so
wsrep_slave_threads     = 4
wsrep_sst_method        = xtrabackup-v2
wsrep_sst_auth          = {{ galera_dbusers['xtrabackup']['username'] }}:{{ galera_dbusers['xtrabackup']['password'] }}
wsrep_cluster_name      = percona-cluster
wsrep_cluster_address   = gcomm://{{ ",".join(cluster_members) }}
wsrep_node_address      = {{ ansible_eth0.ipv4.address }}
wsrep_provider_options  = gcache.size=2G;

############
# InnoDB
############

default_storage_engine          = InnoDB
innodb_autoinc_lock_mode        = 2
# innodb_locks_unsafe_for_binlog  = 1
innodb_file_per_table
innodb_thread_concurrency       = 0
innodb_buffer_pool_size         = {{ mysql_innodb_buffer_pool_size | default('50M')  }}
innodb_log_buffer_size          = 64M
# innodb_flush_method             = O_DIRECT
innodb_log_file_size            = 1g

[mysqldump]
quick
quote-names
max_allowed_packet      = 64

[mysql]
#no-auto-rehash # faster start of mysql but no tab completition

[isamchk]
key_buffer              = 16M


 

!includedir /etc/mysql/conf.d/
