[client]
port            = {{ galera_client_port }}
socket          = {{ galera_client_socket }}

[mysqld_safe]
socket          = {{ galera_mysqld_safe_socket }}
nice            = {{ galera_mysqld_safe_nice }}

[mysqld]

bind_address            = {{ galera_mysqld_bind_address }}
user                    = {{ galera_mysqld_user }}
pid-file                = {{ galera_mysqld_pid_file }}
socket                  = {{ galera_mysqld_socket }}
port                    = {{ galera_mysqld_port }}
basedir                 = {{ galera_mysqld_basedir }}
datadir                 = {{ galera_mysqld_datadir }}
default_storage_engine  = {{ galera_mysqld_default_storage_engine }}
tmpdir                  = {{ galera_mysqld_tmpdir }}

lc-messages-dir         = {{ galera_mysqld_lc_messages_dir }}
key_buffer_size         = {{ galera_mysqld_key_buffer_size }}
max_connections         = {{ galera_mysqld_max_connections }}
max_allowed_packet      = {{ galera_mysqld_max_allowed_packet }}
thread_stack            = {{ galera_mysqld_thread_stack }}
thread_cache_size       = {{ galera_mysqld_thread_cache_size }}

myisam-recover          = {{ galera_mysqld_myisam_recover }}
query_cache_limit       = {{ galera_mysqld_query_cache_limit }}
query_cache_size        = {{ galera_mysqld_query_cache_size }}

log_error               = {{ galera_mysqld_log_error }}
slow_query_log          = {{ galera_mysqld_slow_query_log }}
long_query_time         = {{ galera_mysqld_long_query_time }}

{% if galera_mysqld_server_id is defined %} 
server-id               = {{ galera_mysqld_server_id }}
{% endif %}
log_bin                 = {{ galera_mysqld_log_bin }}
sync_binlog             = {{ galera_mysqld_sync_binlog }}
binlog_format           = {{ galera_mysqld_binlog_format }}
expire_logs_days        = {{ galera_mysqld_expire_logs_days }}
max_binlog_size         = {{ galera_mysqld_max_binlog_size }}


wsrep_provider          = {{ galera_mysqld_wsrep_provider }}
wsrep_slave_threads     = {{ galera_mysqld_wsrep_slave_threads }}
wsrep_sst_method        = {{ galera_mysqld_wsrep_sst_method }}
wsrep_sst_auth          = {{ galera_db_xtrabackup.username }}:{{ galera_db_xtrabackup.password }}
wsrep_cluster_name      = {{ galera_mysqld_wsrep_cluster_name }}
wsrep_cluster_address   = gcomm://{{ ",".join(galera_nodes) }}
wsrep_node_name         = {{ galera_mysqld_wsrep_node_name }}
wsrep_node_address      = {{ galera_mysqld_wsrep_node_address }}
wsrep_provider_options  = {{ galera_mysqld_wsrep_provider_options }}

innodb_autoinc_lock_mode        = {{ galera_mysqld_innodb_autoinc_lock_mode }}
{% if galera_mysqld_innodb_locks_unsafe_for_binlog is defined %} 
innodb_locks_unsafe_for_binlog  = {{ galera_mysqld_innodb_locks_unsafe_for_binlog }}
{% endif %}
innodb_thread_concurrency       = {{ galera_mysqld_innodb_thread_concurrency }}
innodb_buffer_pool_size         = {{ galera_mysqld_innodb_buffer_pool_size }}
innodb_log_buffer_size          = {{ galera_mysqld_innodb_log_buffer_size }}
{% if galera_mysqld_innodb_flush_method is defined %} 
innodb_flush_method             = {{ galera_mysqld_innodb_flush_method }}
{% endif %}
innodb_log_file_size            = {{ galera_mysqld_innodb_log_file_size }}

{{ galera_mysqld_extra }}

[mysqldump]
max_allowed_packet      = {{ galera_mysqldump_max_allowed_packet }}
{{ galera_mysqldump_extra }}

[mysql]
{{ galera_mysql_extra }}

[isamchk]
key_buffer              = {{ galera_isamchk_key_buffer }}


 

!includedir /etc/mysql/conf.d/
